<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
</head>
<body>

<!--eric's code-->
<!--bill's code-->
<!--matt's code-->
<div class="container">
    <div class="eheaderbackground">
        <img class= "zoo-logo"src="https://www.oregonzoo.org/sites/default/files/2014/01/29/OZ_Logo_H_REV_140.gif"
             alt="Oregon Zoo logo" img height="50" width="140">

        <img src="https://library.oregonmetro.gov/images/logos/Metro_logo_white_120_50.png"
             alt="Metro logo" img height="50" width="120">

        <div class="row float-right col-md-3">
            <!--        <div class="col-md-4 float-right">-->
            <div class="input-group">
                <span class="input-group-prepend">
                    <div class="input-group-text bg-transparent border-right-0"><i class="fa fa-search"></i></div>
                </span>
                <input class="form-control py-2 border-left-0 border" type="search" value="" id="example-search-input">
                <span class="input-group-append">
                <button class="btn btn-outline-secondary border-left-0 border" type="button">
                    Search
                </button>
              </span>
            </div>
        </div>
        <div class="smalllink float-right">test test test</div>
        <!--    </div>-->
    </div>


    <nav class="navbar navbar-expand-lg navbar-light">
        <!--    <a class="navbar-brand" href="#">Navbar</a>-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav nav-fill w-100">

                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Visit
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Summer concerts</a>
                        <a class="dropdown-item" href="#">Zoo map</a>
                        <a class="dropdown-item" href="#">Concerts</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Discover
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">A new zoo</a>
                        <a class="dropdown-item" href="#">Animals</a>
                        <a class="dropdown-item" href="#">Exhibits</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Get involved</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Conserve</a>
                </li>

                <li class="nav-item dropdown fill-width">
                    <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        About
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Zoo News</a>
                        <a class="dropdown-item" href="#">About the Oregon Zoo</a>
                        <a class="dropdown-item" href="#">About the Oregon Zoo Foundation</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

</div>
<!-- billi-->

<div class="container">
    <div class="row" style="color: pink">
        <div col-xs-6> <!--firstcolumn-->
            <div class="row">
                <div col-xs-12>
                </div>
            </div>
        </div>
    </div>

    <div col-md-6> <!--secondcolumn-->
        <div class="row">
            <div style="color: blue"> Ad page Ad pageAd pageAd pageAd pageAd pageAd pageAd page</div>
        </div>
    </div>
</div> <!--endofrow-->
</div><!--endofcontainer-->

<!--// matt-->

<div class="wrapped">
    <footer class="container mymargin">
        <div id="flex1">
            <p><img src="https://www.oregonzoo.org/sites/default/files/2014/01/29/OZF_Logo_H_REV_93x40.gif" alt="zoo"><img src="https://www.oregonzoo.org/sites/default/files/2014/01/29/AAZA_70.gif" alt="title"><img src="https://www.oregonzoo.org/sites/default/files/2014/01/29/WAZA_80.gif" alt="title"><img src="https://www.oregonzoo.org/sites/default/files/2014/01/29/PBI_70.gif" alt="title"><img src="https://www.oregonzoo.org/sites/default/files/2014/01/29/Travel-Portland_100.gif" alt="title"></p>
        </div>
        <div id="flex2">
            <p><a href=""></a><a href=""></a><img src="https://www.oregonzoo.org/sites/default/files/2020/01/30/banfield-sponsor-logo.png" alt="Banfield Pet Hospital">
                <a><img src="https://www.oregonzoo.org/sites/default/files/2020/01/30/flir-sponsor-logo.png" alt="FLIR"></a><a><img src="https://www.oregonzoo.org/sites/default/files/2020/01/30/kgw-sponsor-logo.png" alt="KGW8"></a>
            </p>
        </div>
        <ul id="flex3">
            <li><a href="#">Home</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Jobs</a></li>
            <li><a href="#">Educational Resources</a></li>
            <li><a href="#">Media Resources</a></li>
            <li><a href="#">Terms of use</a></li>
            <li><a href="#">Privacy Policy</a></li>
        </ul>
        <div class="flex4">
            <div>Address</div>
            <div>Address</div>
        </div>
        <div>
            <p id="no-bottom">Hello, we're Metro</p>
            <aside>
                <!--            background-image: url(/profiles/oregon_zoo_base/themes/packy/images/illustration-strip-v3-zoo-1140px.png);-->
            </aside>
        </div>
        <div></div>
    </footer>
</div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</body>
</html>