<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
</head>
<body>


<p>
    will construct the footer
I will copy and then change the footer. add
</p>

<!--div#zone-footer-wrapper.zone-->
<!--div>p-->
<!--div>p-->
<!--div-->
<!--div>ul-->
<!--p-->
<!--aside-->
<!--div-->

<footer>
    <div>
        <p><img src="https://www.oregonzoo.org/sites/default/files/2014/01/29/OZF_Logo_H_REV_93x40.gif" alt="zoo"><img src="https://www.oregonzoo.org/sites/default/files/2014/01/29/AAZA_70.gif" alt="title"><img src="https://www.oregonzoo.org/sites/default/files/2014/01/29/WAZA_80.gif" alt="title"><img src="https://www.oregonzoo.org/sites/default/files/2014/01/29/PBI_70.gif" alt="title"><img src="https://www.oregonzoo.org/sites/default/files/2014/01/29/Travel-Portland_100.gif" alt="title"></p>
    </div>
    <div>
        <p><a href=""></a><a href=""></a><img src="" alt=""><img src="" alt=""><img src="" alt=""></p>
    </div>
    <ul>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
    </ul>
    <div></div>
    <div></div>
    <div>
        <p>Hello, we're Metro</p>
        <aside></aside>
    </div>
    <div></div>
</footer>





    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</body>
</html>